/* temp */
.greyt {
  background: lightgrey;
}

.greent {
  background: green;
}

.oranget {
  background: orange;
}

.bluet {
  background: lightblue;
}
/* /temp */

/* ----COMMON & UTILITY */
html {
  font-family: Montserrat, sans-serif;
  --header-nav-height: 70px;
  --header-li-padding: 15px;
  --btn-color: #FE775A;
  --font-size-content: 14px;
  --padding-crm: 40px;
  --crm-hr-color: #899397;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.float-left {
  float: left;
}

.float-right {
  float: right;
}

.clearfix::after {
  content: "";
  display: table;
  clear: both;
}

.content {
  width: 1200px;
  margin: 0 auto;
}

button {
  padding: 8px;
  border-radius: 4px;
  border: none;
  font-size: var(--font-size-content);
}

.btn-orange {
  background: var(--btn-color);
  color: white;
  padding: 20px 40px;
}

.btn-orange.get::after {
  content: "GetHubspotFree";
}

.btn-orange.learn::after {
  content: "Learn More";
}

p {
  line-height: 28px;
}

.white-shadow-radius {
  background: #FFFFFF;
  border-radius: 4px;
  box-shadow: 0 0 8px 4px #EAEFF5;
}

.white-color {
  color: white;
}

/* ----/COMMON & UTILITY */

/* ----STYLE */
.wrapper {
  width: 100%;
  min-width: 1200px;
  background: grey;
  height: 1000px;
}

/* ----nav */
header .nav-top-container {
  background-color: #F4F9FD;
}

header .nav-top {
  height: var(--header-nav-height);
}

header ul {
  list-style: none;
  height: var(--header-nav-height);
}

header ul li {
  display: inline;
  line-height: var(--header-nav-height);
}

header .nav-top-left li, header .nav-bottom-left li{
  padding-right: var(--header-li-padding);
}

header .nav-top-left li:nth-child(2) {
  padding-left: var(--header-li-padding);
}

header .nav-top-right li, header .nav-bottom-right li{
  padding-left: var(--header-li-padding);
}

/* ----nav top left */
header .nav-top-left {
  color: #32495B;
}

header .nav-top-left li:first-child {
  padding-right: var(--header-li-padding);
  border-right: 2px solid #899397;
}

/* ----nav top right */
header .nav-top-right li:first-child {
  color: #01A4BD;
}

header .nav-top-right button.login {
  border: 1px solid var(--btn-color);
  color: var(--btn-color);
  background: transparent;
}

header .nav-top-right button.get {
  padding: 10px;
}

/* ----nav bottom */
.nav-bottom-container {
  background: #FFFFFF;
  color: #475A6B;
}

.nav-bottom-container {
  border-top: 1px solid #32495B;
}

.nav-bottom-left {
  line-height: var(--header-nav-height);
}

.nav-bottom-container .logo{
  vertical-align: middle;
}

/* ----header content */
.header-content-container {
  background: #FEF6EF url("../img/jumbotron.png") no-repeat bottom right;
  /* background-size: cover; */
  position: relative;
}

.header-content {
  color: #33475B;
}

.header-content-container::after {
  content: "";
  display: block;
  width: 100%;
  height: 78px;
  background: #AFEBE4;
  border-top: 3px solid #33475B;
  border-bottom: 3px solid #33475B;
  position: absolute;
  bottom: 0;
  /* opacity: 0.2; */
}

.header-title-container {
  width: 600px;
  padding-top: 40px;
  padding-bottom: calc(3*var(--header-nav-height));
}

.header-title-container * {
  margin-bottom: 30px;
}

.header-title-container .header-description1 {
  margin-bottom: 0;
}

.header-title {
  font-size: 50px;
}

.header-description1 {
  padding-top: var(--vertical-padding);
}

.header-description2 {
  font-size: 12px;
}

/* ----main */
/* ----section1 */
.section1-container {
  background: #F4F9FD;
  padding: 35px 0;
}

.section1 {
  text-align: center;
}

section {
  text-align: center;
  color: #33475B;
}

section h2 {
  font-size: 35px;
  font-size: 30px;
}

.section1 .section-description {
  padding: 35px 0;
}

/* container bianchi */
.crm-description {
  padding: var(--padding-crm);
  height: 350px;
  width: 100%;
}

.crm-description-img {
  width: 30%;
  padding: var(--padding-crm);
}

.crm-description-img img, .crm-item {
  padding-bottom: 15px;
}

.crm-description-text {
  width: 70%;
  text-align: left;
  padding: var(--padding-crm);
}

.section1 h3, .section1 p, .section1 h4 {
  padding-bottom: 25px;
}

.section1 h3 {
  font-size: 26px;
  text-transform: capitalize;
}

.section1 h4 {
  font-size: 20px;
  text-transform: uppercase;
}

.crm-description-text > h4 {
  display: inline-block;
  width: 39%;
}

.crm-description-text .separator {
  display: inline-block;
  width: 59%;
  background: #899397;
  height: 2px;
  vertical-align: super;
}

.section1 li::before {
  content: url("../img/check-orange.png");
  vertical-align: middle;
  padding-right: 10px;
}

.crm-description-text ul {
  list-style: none;
  /* height: var(--header-nav-height); */
}

.crm-description-text ul li {
  display: inline;
  padding-right: 15px;
  /* line-height: var(--header-nav-height); */
}

.crm-item {
  width: calc((100% - 100px)/3);
  margin-top: 50px;
  /* errore nella validazione, ma funziona lo stesso (non gli piacciono le variabili) */
  padding: calc(var(--padding-crm) / 2);
}

.crm-item > p::after {
  content: "";
  display: block;
  background: var(--crm-hr-color);
  width: 100%;
  height: 2px;
  margin: 60px 0 15px;
}

.crm-item ul {
  list-style: none;
  text-align: left;
  margin-bottom: 45px;
  text-transform: capitalize;
}

.crm-item:nth-child(3) {
  margin-left: 50px;
  margin-right: 50px;
}

/* ----section2 */
.section2-container {
  background: linear-gradient(90deg, #01A7BA, #01BCA5);
}

.section2 {
  color: white;
  padding: 50px 0;
}

.section2 h2, p, .services {
  padding-bottom: 30px;
}

.services-item {
  width: 25%;
  padding: calc(var(--padding-crm) / 2);
  --internal-border: 1px solid white;
}

.services-item {
  border-right: var(--internal-border);
}

.services-item:nth-child(4), .services-item:last-child {
  border-right: none;
}

.services-item:nth-child(n+5):nth-child(-n+8) {
  border-top: var(--internal-border);
}

/* ho messo l'altezza per far stare tutto sulla stessa linea, anche se nel modello non le scritte della seconda riga non sono allineate */
.services-item img {
  height: 50px;
}

.services-item img, .services-item .number {
  padding-bottom: calc(var(--padding-crm) / 2);
}

.services-item .number {
  font-size: 37px;
  font-weight: 600;
  text-transform: uppercase;
}

.services-item .number::after {
  content: " +";
  font-size: 0.5em;
  vertical-align: middle;
  font-weight: 400;
}

.services-item .number-description {
  font-size: 12px;
}

/* ----section3 */
.section3 {
  padding: var(--padding-crm) 0;
  text-align: left;
}

.section3 .customers .text-container {
  width: 40%;
  padding: 20px 125px;
}

.section3 .customers .text-container .number{
  font-weight: bold;
  font-size: 45px;
  padding-bottom: 30px;
}

.section3 .customers .img-container  {
  width: 60%;
  padding: 0px 75px;
  margin-top: 35px;
}

.section3 .customers .img-container img{
  width: 100%;
}

.section3 .second-part {
  position: relative;
}

.section3 .second-part h2, .section3 .second-part button {
  margin-bottom: 30px;
}

.section3 .second-part .text-container {
  padding-top: 30px;
  width: 44%;
}

.section3 .second-part img {
  position: absolute;
  bottom: 0;
  right: 0;
  width: 350px;
}

.section3 .second-part .description2 {
  font-size: 12px;
}

/* ----footer */
footer {
  background: #32495B;
  color: #CBD6E2;
  font-weight: 500;

}

footer ul {
  list-style: none;
}

/* top nav */
.footer-nav-top {
  padding-bottom: 50px;
}

.footer-nav-top .col {
  width: 25%;
}

.footer-nav-top ul li {
  text-transform: capitalize;
  padding-top: 20px;
}

.footer-nav-top ul li:first-child{
  padding-bottom: 15px;
  padding-top: 40px;
}

.footer-nav-top button {
  padding: 10px;
  background: #DADEE0;
  color: #32495B;
}

.footer-nav-top i {
  display: inline-block;
  width: 12%;
  font-size: 17px;
}

/* middle nav */
.footer-nav-middle {
  text-align: center;
  border-bottom: 1px solid #CBD6E2;
}

.footer-nav-middle ul {
  display: inline-block;
}

.footer-nav-middle ul li {
  padding: 15px;
}

/* bottom nav */

.footer-nav-bottom {
  padding: 40px 0;
}

.footer-nav-bottom logo {
  padding-bottom: 30px;
}

.footer-nav-bottom .privacy li{
  display: inline-block;
  padding-left: 30px;
}

footer .copyright {
  color: white;
}





/* ----/STYLE */
