/* ----COMMON & UTILITY */
html {
  font-family: Montserrat, sans-serif;
  --header-nav-height: 70px;
  --header-li-padding: 15px;
  --btn-color: #FE775A;
  --font-size-content: 14px;
  --padding-crm: 40px;
  --crm-hr-color: #899397;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.float-left {
  float: left;
}

.float-right {
  float: right;
}

.clearfix::after {
  content: "";
  display: table;
  clear: both;
}

.content {
  width: 1200px;
  margin: 0 auto;
}

button {
  padding: 8px;
  border-radius: 4px;
  border: none;
  font-size: var(--font-size-content);
}

.btn-orange {
  background: var(--btn-color);
  color: white;
  padding: 20px 40px;
}

.btn-orange.get::after {
  content: "GetHubspotFree";
}

.btn-orange.learn::after {
  content: "Learn More";
}

p {
  line-height: 28px;
}

.white-shadow-radius {
  background: #FFFFFF;
  border-radius: 4px;
  box-shadow: 0 0 8px 4px #EAEFF5;
}

/* ----/COMMON & UTILITY */

/* ----STYLE */
.wrapper {
  width: 100%;
  min-width: 1200px;
  background: grey;
  height: 1000px;
}

/* ----nav */
header .nav-top-container {
  background-color: #F4F9FD;
}

header .nav-top {
  height: var(--header-nav-height);
}

header ul {
  list-style: none;
  height: var(--header-nav-height);
}

header ul li {
  display: inline;
  line-height: var(--header-nav-height);
}

header .nav-top-left li, header .nav-bottom-left li{
  padding-right: var(--header-li-padding);
}

header .nav-top-left li:nth-child(2) {
  padding-left: var(--header-li-padding);
}

header .nav-top-right li, header .nav-bottom-right li{
  padding-left: var(--header-li-padding);
}

/* ----nav top left */
header .nav-top-left {
  color: #32495B;
}

header .nav-top-left li:first-child {
  padding-right: var(--header-li-padding);
  border-right: 2px solid #899397;
}

/* ----nav top right */
header .nav-top-right li:first-child {
  color: #01A4BD;
}

header .nav-top-right button.login {
  border: 1px solid var(--btn-color);
  color: var(--btn-color);
  background: transparent;
}

header .nav-top-right button.get {
  padding: 10px;
}

/* ----nav bottom */
.nav-bottom-container {
  background: #FFFFFF;
  color: #475A6B;
}

.nav-bottom-container {
  border-top: 1px solid #32495B;
}

.nav-bottom-left {
  line-height: var(--header-nav-height);
}

.nav-bottom-container .logo{
  vertical-align: middle;
}

/* ----header content */
.header-content-container {
  background: url("../img/jumbotron.png") no-repeat bottom right;
  background-size: cover;
}

.header-content {
  color: #33475B;
}

.header-title-container {
  width: 600px;
  padding-top: var(--header-nav-height);
  padding-bottom: calc(3*var(--header-nav-height));
}

.header-title-container * {
  margin-bottom: 30px;
}

.header-title {
  font-size: 50px;
}

.header-description1 {
  padding-top: var(--vertical-padding);
}

.header-description2 {
  font-size: 12px;
}

/* ----section1 */
.section1-container {
  background: #F4F9FD;
  padding: 35px 0;
}

.section1 {
  text-align: center;
  color: #33475B;
}

.section1 .section-title {
  font-size: 35px;
}

.section1 .section-description {
  padding: 35px 0;
}

/* container bianchi */
.crm-description {
  padding: var(--padding-crm);
  height: 350px;
  width: 100%;
}

.crm-description-img {
  width: 30%;
  padding: var(--padding-crm);
}

.crm-description-img img, .crm-item {
  padding-bottom: 15px;
}

.crm-description-text {
  width: 70%;
  text-align: left;
  padding: var(--padding-crm);
}

.section1 h3, .section1 p, .section1 h4 {
  padding-bottom: 25px;
}

.section1 h3 {
  font-size: 26px;
  text-transform: capitalize;
}

.section1 h4 {
  font-size: 20px;
  text-transform: uppercase;
}

.crm-description-text > h4::after {
  content: "-";
  background: var(--crm-hr-color);
  width: 55%;
  height: 1px;
  display: inline;
}

.section1 li::before {
  content: url("../img/check-orange.png");
  vertical-align: middle;
  padding-right: 10px;
}

.crm-description-text ul {
  list-style: none;
  /* height: var(--header-nav-height); */
}

.crm-description-text ul li {
  display: inline;
  padding-right: 15px;
  /* line-height: var(--header-nav-height); */
}

.crm-item {
  width: calc((100% - 100px)/3);
  margin-top: 50px;
  /* errore nella validazione, ma funziona lo stesso (non gli piacciono le variabili) */
  padding: calc(var(--padding-crm) / 2);
}

.crm-item > p::after {
  content: "";
  display: block;
  background: var(--crm-hr-color);
  width: 100%;
  height: 2px;
  margin: 60px 0 15px;
}

.crm-item ul {
  list-style: none;
  text-align: left;
  margin-bottom: 45px;
  text-transform: capitalize;
}

.crm-item:nth-child(3) {
  margin-left: 50px;
  margin-right: 50px;
}

/* ----/STYLE */
